.bg-white{
    background-color: #fff;
}

.bg-grad-skyblue{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #9aefe6 10%, #9aefe6 90%, rgba(255, 255, 255, 0) 100%);
  color: #2e2e2e;
}

.bg-grad-blue{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #e6ffff 10%, #e6ffff 90%, rgba(255, 255, 255, 0) 100%);
  color: #000000;
}

.lecture{
  display:flex;
}

.lecture img{
  height: 250px;
  width: 250px;
}

.clogo{
  padding: 3%;
  background-color: white;
  width: 400px;
  height: 400px;
  align-content: center;
  vertical-align: middle;
}
.circleblock{
  padding: 3% 0;
}

.box {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.box:nth-child(even) {
  flex-direction: row-reverse;
}

.text {
  text-align: left;
}

.pict img {
  height:auto;
  width: 250px;
}

.title {
  font-size: 40pt;
  font-family: "メイリオ", "Meiryo", "ＭＳ ゴシック",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-weight: bold;
}

.no-gutters {
  margin: 0;
  padding: 0;
}

.no-gutters　 > .col,
.no-gutters　 > [class*="col-"] {
  margin: 0;
  padding: 0;
}

/* id="timetable"が設定されたsection内のtableにだけ適用 */
section#timetable table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section#timetable th,
section#timetable td {
  border: 2px solid rgb(255, 255, 255);
  text-align: left;
  padding: 10px;
  background-color: #eeeeee;
}

section#timetable th {
  background-color: #d5d5d5;
  border: 2px solid rgb(167, 167, 167);
  padding: 0px;
  text-align: left;
  padding-left: 1.4vw;
}
@media (max-width:768px) {
  .box {
    flex-direction: column;
  }
  .box:nth-child(even) {
    flex-direction: column;
  }
  .text {
    text-align: center;
  }
  .box:nth-child(even) .text {
    text-align: center;
  }
  .pict {
    width:100%;
    margin-left: 0;
    text-align: center;
  }
  .pict img {
    margin: auto;
    width:50%;
    height:auto;
  }

section#timetable table {
  width: 70%;
}
}